
/* #navbar {
    margin-bottom: 1.5em;
} */

html, body {
    margin: 0px;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.MuiPaper-root {
    border-radius: 0px!important;
}

#search-btn {
    height: 56px;
    width: 50px;
    margin-left: 1em;
    display: flex;
    padding: 3px 0px 0px 10px;
}

/* Items Grid */

.MuiPaper-root {
    box-shadow: none!important;
}

/* Pokemon info */

#pokemon-page {
    height: 100% auto;
    padding: 0% 10% 0% 10%;
}

#pokemon-name {
    text-transform: capitalize;
}

#pokemon-order {
    font-style: italic;
}

#pokemon-img {
    width: 100%;
}

.pokemon-type {
    border-radius: 50%;
    box-shadow: 0px 0px 14px -2px #000000;
    -webkit-box-shadow: 0px 0px 14px -2px #000000;
    width: 100%;
}

.pokedex-title {
    margin-bottom: 2em;
    margin-top: 1em;
}

.pokedex-subtitle {
    margin: 0.5em 0em 0em 1em;
}